<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>background</title>
    <style>
      .container {
        background-color: #ccc;
        width: 1200px;
      }
      .amz-ground {
        width: 100%;
      }
    </style>
  </head>
  <body>
    <script src="../lib/jquery/jquery-3.4.1.min.js"></script>
    <script src="../lib/sheetjs/xlsx.full.min.js"></script>
    <script src="../lib/stopwords/stopwords-all.js"></script>
    <script src="../lib/wordcloud/wordcloud2.js"></script>
    <script src="../lib/compromise/compromise.min.js"></script>
    <script src="../lib/compromise/compromise-numbers.min.js"></script>
    <script src="../js/const.js"></script>
    <script src="../js/parse.js"></script>
    <script src="../js/output.js"></script>
    <script src="../js/procedure.js"></script>
    <script src="../js/bgAction.js"></script>
    <script src="../js/background.js"></script>
  </body>
</html>
