<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <!-- ZUI 标准版压缩后的 CSS 文件 -->
    <link rel="stylesheet" href="../lib/zui/css/zui.min.css" />

    <!-- ZUI Javascript 依赖 jQuery -->
    <script src="../lib/zui/lib/jquery/jquery.js"></script>
    <!-- ZUI 标准版压缩后的 JavaScript 文件 -->
    <script src="../lib/zui/js/zui.min.js"></script>
    <script src="../lib/art_template/template-web.js"></script>
    <title>Document</title>
    <style>
      .popup {
        width: 720px;
      }
      .no-gutters > [class^="col-"] {
        padding: 2px;
      }
      .form-control {
        font-size: 12px;
      }
      .title {
        text-align: center;
      }
      .list-group {
        margin-left: 10px;
        margin-right: 10px;
      }
    </style>
  </head>
  <body>
    <div class="popup">
    <!-- 功能选择执行 -->
      <div class="container">
        <div class="title">
          <h2>AMZTOOLS 1.3.1</h2>
        </div>
        <div class="panel">
          <div class="panel-body">
            <div class="row">
              <!-- 任务选择 -->
              <div class="col-xs-2">
                <select class="form-control" id="action">
                  <option value="">选择任务</option>
                  <option value="asin-rank">搜索排名</option>
                  <!-- <option value="price-follow">价格跟踪</option> -->
                  <option value="review-collect">评论收集</option>
                  <option value="QA-collect">QA收集</option>
                  <option value="hotKV-collect">搜索栏热词收集</option>
                  <option value="setting">通用设置</option>
                </select>
              </div>
              <!-- 任务选择结束 -->

              <!-- 任务参数区 -->
              <div class="col-xs-10" id="input-group">
                <!-- 选择任务 -->
                <div
                  class="row collapse"
                  id="select-task"
                  data-parent="#input-group"
                ></div>
                <!-- 选择任务结束 -->

              <!-- 搜索排名 -->
                <div
                  class="row collapse"
                  id="asin-rank"
                  data-parent="#input-group"
              >
                  <div class="col-xs-10">
                    <div class="row no-gutters">
                      <div class="col-xs-3">
                        <select class="form-control" id="asin-rank-freq">
                          <option value="">任务频率</option>
                          <option value="1">单次立即</option>
                          <option value="300000">5分钟</option>
                          <option value="600000">10分钟</option>
                          <!-- <option value="1200000">20分钟</option> -->
                          <option value="1800000">30分钟</option>
                          <option value="3600000">60分钟</option>
                          <option value="7200000">120分钟</option>
                          <option value="14400000">240分钟</option>
                          <option value="28800000">480分钟</option>
                          <option value="43200000">720分钟</option>
                        </select>
                      </div>
                      <div class="col-xs-3">
                        <input
                          type="tel"
                          class="form-control num"
                          placeholder="运行次数，默认通用设置"
                          id="asin-rank-times"
                        />
                      </div>
                      <div class="col-xs-3">
                        <input
                          type="text"
                          class="form-control"
                          id="asin-rank-keyword"
                          placeholder="关键词"
                        />
                      </div>
                      <!-- <div class="col-xs-3">
                        <input
                          type="tel"
                          class="form-control"
                          id="asin-rank-zipcode"
                          placeholder="zipcode默认通用设置"
                        />
                      </div> -->
                      <div class="col-xs-3">
                        <input
                          type="tel"
                          class="form-control num"
                          id="asin-rank-maxpage"
                          placeholder="最多页数,默认通用设置"
                        />
                      </div>

                      <div class="col-xs-3">
                        <input
                          type="text"
                          class="form-control"
                          id="asin-rank-filename"
                          placeholder="保存的文件名"
                        />
                      </div>
                    </div>
                  </div>
                  <div class="col-xs-2">
                    <button class="btn" id="task-asin-rank" type="button">
                      增加任务
                    </button>
                  </div>
                </div>
                <!-- 搜索排名结束 -->

                <!-- 价格跟踪 -->
                <div
                  class="row collapse"
                  id="price-follow"
                  data-parent="#input-group"
                >
                  <div class="col-xs-10">
                    <div class="row no-gutters">
                      <div class="col-xs-2">
                        <select class="form-control" id="action-freq">
                          <option value="">任务频率</option>
                          <option value="1">单次立即</option>
                          <option value="600000">10分钟</option>
                          <!-- <option value="1200000">20分钟</option> -->
                          <option value="1800000">30分钟</option>
                          <option value="3600000">60分钟</option>
                          <option value="7200000">120分钟</option>
                          <option value="14400000">240分钟</option>
                          <option value="28800000">480分钟</option>
                          <option value="43200000">720分钟</option>
                        </select>
                      </div>
                      <div class="col-xs-2">
                        <input
                          type="tel"
                          class="form-control"
                          placeholder="次数a，0表示无限"
                          id="action-times"
                        />
                      </div>
                      <div class="col-xs-2">
                        <input
                          type="text"
                          class="form-control"
                          id="action-keyword"
                          placeholder="关键词"
                        />
                      </div>
                      <div class="col-xs-2">
                        <input
                          type="text"
                          class="form-control"
                          id="action-zipcode"
                          placeholder="zipcode"
                        />
                      </div>
                      <div class="col-xs-2">
                        <input
                          type="text"
                          class="form-control"
                          id="action-filename"
                          placeholder="保存的文件名"
                        />
                      </div>
                    </div>
                  </div>
                  <div class="col-xs-2">
                    <button
                      class="btn col-xs-12"
                      id="task-price-follow"
                      type="button"
                    >
                      增加任务
                    </button>
                  </div>
                </div>
                <!-- 价格跟踪结束 -->

                <!-- 评论收集 -->
                <div
                  class="row collapse"
                  id="review-collect"
                  data-parent="#input-group"
                >
                  <div class="col-xs-10">
                    <div class="col-xs-3">
                      <input
                        type="text"
                        class="form-control"
                        id="review-collect-asin"
                        placeholder="asin"
                      />
                    </div>
                    <!-- <div class="col-xs-3">
                      <input
                        type="tel"
                        class="form-control num"
                        placeholder="运行次数，默认通用设置"
                        id="review-collect-times"
                      />
                    </div> -->
                    <div class="col-xs-3">
                      <input
                        type="tel"
                        class="form-control num"
                        id="review-collect-maxpage"
                        placeholder="最多页数,默认通用设置"
                      />
                    </div>

                    <div class="col-xs-3">
                      <input
                        type="text"
                        class="form-control"
                        id="review-collect-word-freq"
                        placeholder="词频字段，|分割，默认通用设置"
                      />
                    </div>

                    <div class="col-xs-3">
                      <input
                        type="text"
                        class="form-control"
                        id="review-collect-word-except"
                        placeholder="排除统计的词，|分割"
                      />
                    </div>

                    <div class="col-xs-3">
                      <input
                        type="text"
                        class="form-control"
                        id="review-collect-filename"
                        placeholder="保存的文件名"
                      />
                    </div>
                  </div>
                  <div class="col-xs-2">
                    <button class="btn" id="task-review-collect" type="button">
                      增加任务
                    </button>
                  </div>
                </div>
                <!-- 评论收集结束 -->

                <!-- QA收集 -->
                <div
                  class="row collapse"
                  id="QA-collect"
                  data-parent="#input-group"
                >
                  <div class="col-xs-10">
                    <div class="col-xs-3">
                      <input
                        type="text"
                        class="form-control"
                        id="QA-collect-asin"
                        placeholder="asin"
                      />
                    </div>

                    <div class="col-xs-3">
                      <input
                        type="tel"
                        class="form-control num"
                        id="QA-collect-maxpage"
                        placeholder="最多页数,默认通用设置"
                      />
                    </div>

                    <div class="col-xs-3">
                      <input
                        type="text"
                        class="form-control"
                        id="QA-collect-word-except"
                        placeholder="排除统计的词，|分割"
                      />
                    </div>

                    <div class="col-xs-3">
                      <input
                        type="text"
                        class="form-control"
                        id="QA-collect-filename"
                        placeholder="保存的文件名"
                      />
                    </div>
                  </div>
                  <div class="col-xs-2">
                    <button class="btn" id="task-QA-collect" type="button">
                      增加任务
                    </button>
                  </div>
                </div>
                <!-- QA收集结束 -->

                
                <!-- hotKV收集 -->
                <div
                  class="row collapse"
                  id="hotKV-collect"
                  data-parent="#input-group"
                >
                  <div class="col-xs-10">
                    <div class="col-xs-3">
                      <input
                        type="text"
                        class="form-control"
                        id="hotKV-collect-kv"
                        placeholder="key word"
                      />
                    </div>

                    <div class="col-xs-3">
                      <input
                        type="tel"
                        class="form-control num"
                        id="hotKV-collect-maxNum"
                        placeholder="最多组关键词"
                      />
                    </div>

                    <div class="col-xs-3">
                      <input
                        type="text"
                        class="form-control"
                        id="hotKV-collect-filename"
                        placeholder="保存的文件名"
                      />
                    </div>
                  </div>
                  <div class="col-xs-2">
                    <button class="btn" id="task-hotKV-collect" type="button">
                      增加任务
                    </button>
                  </div>
                </div>
                <!-- QA收集结束 -->

                <!-- 通用设置 -->
                <div
                  class="row collapse"
                  id="setting"
                  data-parent="#input-group"
                >
                  <div class="col-xs-10">
                    <div class="col-xs-3">
                      <input
                        type="text"
                        class="form-control"
                        id="setting-zipcode"
                        placeholder="zipcode"
                      />
                    </div>

                    <div class="col-xs-3">
                      <input
                        type="text"
                        class="form-control"
                        id="setting-word-freq"
                        placeholder="词频字段,|号分割"
                      />
                    </div>
                  </div>
                  <div class="col-xs-2">
                    <button class="btn" id="task-setting" type="button">
                      保存设置
                    </button>
                  </div>
                </div>
                <!-- 通用设置结束 -->
              </div>
              <!-- 任务参数区结束 -->
            </div>

            <!-- 通用设置显示 -->
            <div class="row">
              <h2 class="title">通用默认设置</h2>
              <div id="general-setting"></div>
              <!-- <span class="label">目的邮编：{{$value.actionZipcode}}</span>
              <span class="label">目的邮编：{{$value.actionZipcode}}</span>
              <span class="label">目的邮编：{{$value.actionZipcode}}</span>
              <span class="label">目的邮编：{{$value.actionZipcode}}</span>
              <span class="label">目的邮编：{{$value.actionZipcode}}</span>
              <span class="label">目的邮编：{{$value.actionZipcode}}</span>
              <span class="label">目的邮编：{{$value.actionZipcode}}</span> -->
            </div>
            <!-- 通用设置显示结束 -->
          </div>
        </div>

        <!-- 任务列表卡位 -->
        <div class="row">
          <h2 class="title">任务列表</h2>
          <div class="row">
            <div class="col-sm-12">
              <ul class="list-group" id="task-list"></ul>
            </div>
          </div>
        </div>
        <!-- 任务列表卡位结束 -->
      </div>
<!-- 功能选择执行结束 -->
      <!-- 提示信息 -->
      <div class="modal fade" id="popupModal">
        <div class="modal-dialog">
          <div class="modal-content">
            <div class="modal-header">
              <button type="button" class="close" data-dismiss="modal">
                <span aria-hidden="true">×</span
                ><span class="sr-only">关闭</span>
              </button>
              <h4 class="modal-title">提示信息</h4>
            </div>
            <div class="modal-body">
              <p id="popupMsg"></p>
            </div>
            <div class="modal-footer">
              <button
                type="button"
                class="btn btn-default"
                data-dismiss="modal"
              >
                关闭
              </button>
            </div>
          </div>
        </div>
      </div>
      <!-- 提示信息结束 -->
    </div>

    <!-- 通用设置显示模板 -->
    <script type="text/hmtl" id="general-setting-template">
      {{each general_setting val key}}
      <span class="label">{{key}}：{{val}}</span>
      {{/each}}
    </script>
    <!-- 通用设置显示模板结束 -->

    <!-- 任务列表显示模板 -->
    <script type="text/html" id="task-template">
      {{each task_list}}
      <li class="list-group-item">
        <div class="row">
          <div class="col-xs-1">
            <span class="label label-primary">No.{{$index}}</span>
          </div>
          <div class="col-xs-9">
            {{each $value val key}}
            <span class="label">{{key}}：{{val}}</span>
            <!-- <span class="label">任务类型：{{$value.action}}</span>
            <span class="label">执行频率：{{$value.actionFreq/1000}}秒</span>
            <span class="label">执行次数：{{$value.actionTimes}}</span>
            <span class="label">关键词：{{$value.actionKV}}</span>
            <span class="label">目的邮编：{{$value.actionZipcode}}</span>
            <span class="label">保存文件名：{{$value.actionFilename}}</span>
            <span class="label">{{$value.handler}}</span>
            <span class="label">{{$value.tabId}}</span>
            <span class="label">任务开始时间：{{$value.time}}</span>
            <span class="label">已执行次数：{{$value.times}}</span> -->
            {{/each}}
          </div>
          <div class="col-xs-1">
            <span <% if($value.state=="done") {%>class="label label-success"<%}
              else{%>class="label"<%}%>>{{$value.state}}</span>
          </div>
          <div class="col-xs-1">
            <button <% if ($value.state=="done") {%>
              class="btn btn-mini btn-del disabled"<%}
              else {%>class="btn btn-mini btn-del"<%}%>
              type="button" data-index={{$index}}>删除</button>
          </div>
        </div>
      </li>
      {{/each}}
    </script>
    <!-- 任务列表显示模板结束 -->
    <script src="../js/popup.js"></script>
  </body>
</html>
